<% if @status %>
  <div class='message'><%== @status %></div>
<% end %>
<table>
  <tr>
    <td><a href='/new_file/create'>Create new file</a></td>
    <td><a href='/user/logout'>Log out</a></td>
  </tr>
</table>
<table>
  <% @public_files.each do |file| %>
    <tr>
      <td><a href ="<%= file %>"><%== file %></a></td><td><a href ='<%= file %>/edit'>Edit</a></td>
      <td><a href ='/<%= file %>/delete'>Delete File</a></td>
    </tr>
  <% end %>
</table>
<p>Signed in as '<%== session[:last_user_name] %>'</p>